<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal content-->
        <div class="modal-content" id="modal">
    <div class="modal-header">
      
      <h4 class="modal-title">Contato</h4>
    </div>
    <div class="modal-body">
      <div class="col container">
          <form class=" form form-group needs-validation" novalidate>
              <div class="form">
                  <label for="validationTooltip01">Nome</label>
                  <input type="text" class="form-control" id="validationTooltip01" placeholder="Nome"  required>
                  
              </div>
              <br>
              <div class="form">
                <label for="validationTooltip01">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                  </div>
              <br>
              <div>Telefone
                  <input class="form-control" placeholder="Telefone" type="text">
              </div>
              <br>
              <div class="form">
                <label 
                  for="exampleFormControlSelect1">Motivo
              </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option value="">Orçamento</option>
                <option value="">Dúvida técnica</option>
                <option value="">Elogio</option>
                <option value="">Reclamação</option>
        
              </select>
              <br>
              Mensagem sobre:
                <textarea  class="form-control" name="assunto" id="" cols="30" rows="10"></textarea>
              </div>
              <br>
              <div class="modal-footer"></div>
              <button class="btn btn-secundary" data-dismiss="modal">Fechar</button>
              <button class="btn btn-primary">Enviar</button>
          </form>
        </div>
      
    </div>
    
    </div>
  </div>
</div>
 