<div class="container" id="relatorios">
  <label for="Tabela Relatórios"><h4>Tabela Relatórios</h4></label>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     Donec iaculis at risus non ullamcorper. Aliquam eget ligula nulla. 
     Aliquam nec dolor vel nunc pulvinar accumsan. 
     Vivamus condimentum elementum tortor ac vulputate. 
     Duis rutrum vitae lectus posuere elementum. 
     Vestibulum at elit id tortor posuere feugiat.
      Nunc quis venenatis neque, quis vulputate dui.

    </p>
  <div class="col table-responsive">
    <table class="table">
      <thead>
        <tr style="font-family: sans-serif">
          <th scope="col"><b>Profile</b></th>
          <th scope="col"><b>VatNo.</b></th>
          <th scope="col"><b>Created</b></th>
          <th scope="col"><b>Status</b></th>
        </tr>
        <tr>
            <td scope="col">Jacob</td>
            <td scope="col">00000000</td>
            <td scope="col">12 May 2018</td>
            <td scope="col">
              <a href="#" 
              style="background: red" 
              class="badge badge-danger">
              Pending
            </a>
            </td>
          </tr>
          <tr>
              <td scope="col">Messsy</td>
              <td scope="col">00000001</td>
              <td scope="col">15 May 2018</td>
              <td scope="col">
                <a href="#" style="background:goldenrod" 
                class="badge badge-warning">
                In Progress
              </a>
              </td>
            </tr>
            <tr>
                <td scope="col">John</td>
                <td scope="col">14 May 2018</td>
                <td scope="col">00000012</td>
                <td scope="col">
                <a href="#" 
                style="background: rebeccapurple" 
                class="badge badge-primary">
                Fixed
              </a>
                </td>
              </tr>
              <tr>
                  <td scope="col">Peter</td>
                  <td scope="col">16 May 2018</td>
                  <td scope="col">00000123</td>
                  <td scope="col">
                    <a href="#"  
                    style="background: greenyellow" 
                    class="badge badge-primary">
                    Completed

                  </a>
                  </td>
                </tr>
                <tr>
                    <td scope="col">Dave</td>
                    <td scope="col">20 May 2018</td>
                    <td scope="col">00001234</td>
                    <td scope="col">
                      <a href="#" 
                      style="background:goldenrod" 
                      class="badge badge-warning">
                      In Progress
                    </a>
                    </td>
                  </tr>
      </thead>
    </table>
    <footer class="container row">
       <div 
       class="d-flex justify-content-start">
       <label 
       for="Total:">
       Total:
      </label>
       </div> 
        <div 
        class="p-2 flex-fill bd-highlight">
        <p>12345 Results</p>
          </div>
          <div class="p-2 flex-fill bd-highlight">
              <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
             </nav>
          
          </div>
         
    </footer>
    
  </div>
</div>