
<div class="container card-body card-title">
  <div 
  class="row espacamento">
      <div 
      class="card border-secondary col-3 dadoss"
       >
                
          <div 
          class="card-body text-secondary dados-secondary">
            <h3 
            class="card-title data">19389
          </h3>
            <h5 
            class="card-text">Total Invoices
          </h5>
            <i class="fas fa-file-invoice-dollar"></i>
          </div>
        </div>  
    <div class="card border-secondary col-3 dadoss" >
                
          <div class="card-body text-secondary dados-secondary">
            <h3 class="card-title">245</h3>
            <h5 class="card-text">New Users</h5>
            <i class="fas fa-users"></i>
          </div>
        </div>
      <div class="card border-secondary col-3 dadoss" >
                
          <div class="card-body text-secondary dados-secondary">
            <h3 class="card-title">4829</h3>
            <h5 class="card-text">Unique Visits</h5>
            <i class="fas fa-map-marker-alt"></i>
          </div>
        </div>
            <div class="card border-secondary col-3 dadoss" >
                
                <div class="card-body text-secondary dados-secondary">
                  <h3 class="card-title">43010</h3>
                  <h5 class="card-text">Sales</h5>
                  <i class="fas fa-recycle"></i>
                </div>
              </div> 
  </div>
</div>  
<div class="container card-group">
  <div class="row espacamento col-12">
    <div class="card"style="width: 22%">
      <div class="card-header">EARNING REPORT</div>
      <div class="card-body">
          <p class="cart-text">
              <chart [type]="type"[data]="registrosGrafico" [options]="options"></chart>
            </p>
      </div>
    </div>
      <div class="card-group espacamento" style="width: 75%">
        
          <div class="card ">
            <div class="card-header">PERFORMANCE</div>
              <div class="card-body">
                    <ul>
                        <li>Tasks
                          <a href="">+23870</a>
                          <p>5,6% change today</p>
                        </li>
                        <li>Member Profit  
                          <a href="">+98376</a>   
                          <p>3 days ago</p>
                        </li>
                        <li>Orders    
                          <a href="">-390</a>
                          <p>Wekly Orders</p> 
                        </li>
                        <li>Pending 
                            <a href="">+2452</a>    
                          <p>Pending tasks</p>
                        </li>
                        <li>Revenue    
                          <a href="">+84278</a> 
                          <p>5% increases</p>
                        </li>
                    </ul>
              </div>
          </div>
            <div class="card">
              <div class="card-header">YEAR-WISE PERFORMANCE</div>
              <div class="card-body" >
                  <p class="cart-text">Performance of the team is 75%   highter this year
                    <chart [type]="type2"[data]="registrosGrafico2" [options]="options"></chart>
                  </p>
            </div>
         </div>
    </div>

  </div>
</div>

<!--<div class="container">
    <button type="button" (click)="toastrChama()" class="btn btn-info btn-lg">
      Open Modal</button>
      
</div>-->
  