.navbar
    background:	#191970
.fa-cloud
    color: white
.form-control
    background: #191970
    border-color: #191970
.pais
    max-height: 200px
    overflow: auto
.perfil
    
    .icone     
    border-color: white
.espacamento
    margin-bottom: 5px !important;
    
      