<link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">

<div class="row-topo">
  <div class="nav-item">
    <nav class="navbar navbar-light-reverse">
      
      <form class="form-inline">
        <div 
        class="col">
        <i class="fas fa-cloud">
          CloudUI</i>
        </div>
          
        <input 
        class="form-control mr-sm-2" 
        type="search" 
        placeholder="Search" 
        aria-label="Search">
       
      </form>
      <!--Botão da seleção de países-->
      <div class="btn-group">
        <div class="btn-group">
          
            <button 
            type="button" 
            class="btn btn-secondary dropdown-toggle"
             data-toggle="dropdown" 
             aria-haspopup="true" 
             aria-expanded="true"
             
             >

             Selecione o País 
              
            </button>
            <div 
            class="dropdown-menu dropdown-menu-right pais" 
            [(ngModel)]="paisSelecionado.id" 
            (change)="onSelect($event.target.value)" 
            id="sel1" ngDefaultControl>
              <button 
                *ngFor="let pais of paises" 
                value={{pais.id}}
                class="dropdown-item" 
                type="button"
              
              >
                {{pais.nome}}
              </button>
              <div *ngIf='paisSelecionado.id == 0' value="0">
                    
                 </div>  
                
            </div>
        </div>
          <!--Buttons ícones(bell mail) -->
            <div class="btn-group">
              <div class="container" >
                
                  <a href="#"
                   class="fas fa-envelope icone"
                    role="button" 
                    aria-disabled="true">
                  </a>
              </div>
              <div class="container">
                  <a href="#" 
                  class="fas fa-bell icone" 
                  role="button" 
                  aria-disabled="true">
                </a>
              </div>

            </div>
            <!--Button perfil-->
              <div class="btn-group perfil">
                <div class="dropdown">
                    <button type="button" 
                      class="btn btn-secondary dropdown-toggle" 
                      data-toggle="dropdown" 
                      aria-haspopup="true" 
                      aria-expanded="false" 
                      id="dropdownMenuButton">
                        <img src="" class="rounded fa fa-user">
                        Paulo Sousa
                     </button>
                     <div 
                     class="dropdown-menu perfil" 
                     aria-labelledby="dropdownMenuButton">
                        <a 
                        class="dropdown-item"
                         href="#" role="menuitem">
                         <strong>
                            Paulo henrique Sousa
                         </strong>
                        </a>
                  
                      <li class="dropdown-divider"></li>
                      <a class="dropdown-item" role="menuitem" href=""> Perfil</a>
                      <a class="dropdown-item" role="menuitem" href="">Configurações</a>
                      <li class="dropdown-divider"></li>
                      <a class="dropdown-item" role="menuitem" href="">Sair</a>
                      </div>
                    
                  </div> 
            </div>
            
        </div>
        
    </nav>
  </div>
</div>

  <div 
  class="row espacamento d-flex justify-content-center">
      <link 
      rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" 
      crossorigin="anonymous">
      
    <div 
    class="col d-flex justify-content-center">
      <ul 
      class="nav btn-group">
        <button
         class="btn" 
         type="">
            <li class="nav-item">
                <a class="nav-link"
                 href="dashboard">
                 <i 
                 class="fas fa-tv">
                </i>
                Dashboard
              </a>
                
            </li>
        </button>
        
        <button 
          class="btn" 
          type="" 
          data-toggle="modal" 
          data-target="#exampleModal">
            <li class="nav-item" 
            type="" 
            data-toggle="modal" 
            data-target="">
                <a class="nav-link"
                 href="#dadosModal">
                 <i class="fas fa-database">
                 </i>
                 Dados
                </a>
             </li>
        </button>
        <button 
          class="btn" 
          type="" 
          data-toggle="modal"
          data-target="#contatoModal">
            <li class="nav-item" >
                <a class="nav-link" 
                data-toggle="modal" 
                data-target="#myModal">
                  <i class="fas fa-phone">
                  </i>Contatos
                </a>
            </li>
        </button>
        <button 
          class="btn" 
          type="">
            <li class="nav-item">
                <a class="nav-link" 
                href="relatorios">
                <i class="fas fa-bug">
                </i>
                Relatórios
              </a>
            </li>
        </button>
       
        
        
      </ul>
    </div>
    
  </div>


<!--<div class="container">
    <button type="button"  class="btn btn-info btn-lg">
      Open Modal</button>
      
</div>-->
